body {
  background-color: #f6ff00;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  color: #d3620b;
  font-size: 36px;
  margin-top: 50px;
}
.card {
  width: 500px;

  margin: 20px auto;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}
.animal-icon {
  font-size: 120px;
}

.card2 {
  width: 500px;

  margin: 20px auto;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

.card3 {
  width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background: #0e06eb;
}

.circle {
  width: 200px;
  height: 200px;
  background: #05caed;
  border-radius: 50%;
  margin-top: 20px;
}

.rectangle {
  width: 300px;
  height: 150;
  background: #bc0303;
  margin-top: 20px;
}

.oval {
  width: 400px;
  height: 200px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 20px;
}

.rounded-square {
  width: 500px;
  height: 500px;
  background: #000000;
  border-radius: 20%;
  margin-top: 20px;
}
