body {
  margin: 0;
}
.sky {
  width: 100%;
  height: 440px;
  background-color: skyblue;
  position: relative;
}
.sun {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 80px;
}
.house {
  position: absolute;
  left: 300px;
  top: 220px;
}
.wall {
  width: 300px;
  height: 220px;
  background-color: orange;
  position: relative;
}
.roof {
  width: 0px;
  height: 0px;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 130px solid red;
  position: absolute;
  top: -130px;
  left: -20px;
  z-index: 1;
}
.tree {
  position: absolute;
  left: 60px;
  top: 260px;
}
.tree-top {
  width: 165px;
  height: 165px;
  background-color: rgb(8, 235, 8);
  position: absolute;
  border-radius: 50%;
  bottom: -19px;
  left: -21px;
  z-index: 1;
  animation: tree-wag 5s ease-in-out infinite alternate;
  transform-origin: 50% 100%;
}

.tree-bot {
  width: 33px;
  height: 167px;
  background-color: rgb(117, 44, 44);
  position: absolute;
  top: 16px;
  left: 40px;
}

.window {
  width: 90px;
  height: 90px;
  background-color: lightblue;
  border: 10px solid black;
  position: absolute;
  top: 40px;
  left: 40px;
}

.window-line.vertical {
  width: 6px;
  height: 90px;
  background-color: black;
  position: absolute;
  left: 42px;
}

.window-line.horizontal {
  width: 90px;
  height: 6px;
  background-color: black;
  position: absolute;
  top: 42px;
}

.door {
  width: 70px;
  height: 130px;
  background-color: rgb(103, 39, 39);
  position: absolute;
  bottom: 0px;
  right: 45px;
}

.door-handle {
  width: 10px;
  height: 10px;
  background-color: rgb(126, 82, 82);
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 65px;
}

.ground {
  width: 100%;
  height: 250px;
  background-color: rgb(146, 237, 10);
}

.cloud {
  position: absolute;
  top: 60px;
  right: 1000px;
  animation: cloud-move 10s infinite;
}

.cloud-one {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  left: 0px;
  top: 25px;
  position: absolute;
}

.cloud-two {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  left: 55px;
  top: 0px;
}

.cloud-three {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  left: 145px;
  top: 35px;
}

.birdhouse {
  position: absolute;
  width: 80px;
  height: 93px;
  top: 272px;
  left: 76px;
  z-index: 2;
  background-color: rgb(237, 241, 237);
}

.birdhouse-roof {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 40px solid red;
  top: -40px;
  left: -10px;
}

.birdhouse-hole {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  top: 30px;
  left: 25px;
}

.cat {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 450px;
  left: 80px;
  animation: cat-walk 10s linear infinite;
}

.cat > div {
  position: absolute;
}

.cat-body {
  left: 10px;
  top: 10px;
  width: 64px;
  height: 32px;
  background-color: #f8b602;
  border-radius: 15px;
}

.cat-head {
  left: 58px;
  top: 0px;
  width: 30px;
  height: 28px;
  background-color: #f8b602;
  border-radius: 50%;
}

.cat-leg {
  top: 36px;
  width: 9px;
  height: 22px;
  background-color: #eb8108;
  border-radius: 5px;
  animation: cat-step 0.6s ease-in-out infinite alternate;
  transform-origin: 50% 0;
}

.cat-leg.back {
  left: 18px;
}

.cat-leg.front {
  left: 56px;
}

.cat-ear {
  left: 62px;
  top: -7;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #edb408;
  transform: rotate(20deg);
}

.cat-eye {
  left: 77px;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

.cat-nose {
  left: 85px;
  top: 14px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ae3787;
}

.cat-tail {
  width: 10px;
  height: 35px;
  border-radius: 10px;
  background-color: #e29209;
  left: 2px;
  top: -10px;
  transform: rotate(-52deg);
  animation: cat-wag 0.4s ease-in-out infinite alternate;
  transform-origin: 50% 100%;
}

@keyframes cat-walk {
  0% {
    transform: translateX(0) scaleX(1);
  }
  48% {
    transform: translateX(600px) scaleX(1);
  }
  50% {
    transform: translateX(600px) scaleX(-1);
  }
  98% {
    transform: translateX(0) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes cat-wag {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@keyframes cat-step {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes cloud-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes tree-wag {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
